@model QLVT.Models.TaiKhoan

@{
    ViewData["Title"] = "Đăng nhập";
}

<h2>@ViewData["Title"]</h2>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}

<form asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="TenDn"></label>
        <input asp-for="TenDn" class="form-control" required />
        <span asp-validation-for="TenDn" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Mk"></label>
        <input asp-for="Mk" class="form-control" type="password" required />
        <span asp-validation-for="Mk" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Đăng nhập</button>
    </div>
</form>
