@model IEnumerable<QLVT.Models.LoaiVt>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Quản lý loại vật tư</h1>

<p>
    <a asp-action="formThemLoaiVT" class="btn btn-primary">Thêm</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Mã loại
            </th>
            <th>
                Tên loại
            </th>
            <th>
                Mô tả
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaLoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenLoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoTa)
                </td>
                <td>
                    <a asp-action="XoaLoaiVT" asp-route-id="@item.MaLoai" class="btn btn-primary">Xóa</a> |
                    <a asp-action="" class="btn btn-primary">Sửa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
