
@model QLVT.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/_AccountLayout.cshtml"; 
}


<div class="account-container">
    <div class="account-box">
        <h2 class="text-center">@ViewData["Title"]</h2>
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }
        <form asp-action="Login" method="post">
           
            <div class="mb-3">
                <label asp-for="Username" class="form-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="btn-success w-100 p-2">Đăng nhập</button>
        </form>
    </div>
</div>
